{% extends 'navbar.html' %}
{% load static %}
{% block title  %}Home{% endblock %}

{% block content %}
<br><br>
<div id="myCarousel" class="carousel slide " data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active carousel">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_uxsajfrq.json"  background="#C5D5DC"  speed=".5" loop  autoplay></lottie-player>
      </div>
  
      <div class="item carousel">
        <img class="carousel-img"  src= "{% static 'images/processflow.png' %}" >
      </div>
    </div>
    
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br><br><br>
  <hr>
  <img src="{% static 'images/wordcloud.png' %}" class="center" id="wordcloud">
{% endblock %}